.form-group {
    margin: 20px 30px;
}
.add-new-product {
    padding: 35px 20px;
}
#contentForm {
    display: none;
}
.active {
    background: #0a58ca;
    color: #fff;
}
table {
    border: 1px solid #dee2e6;
}